/* poppins-100 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('/src/assets/fonts/poppins-100.woff2') format('woff2');
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/src/assets/fonts/poppins-300.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/poppins-regular.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('/src/assets/fonts/poppins-600.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/poppins-700.woff2') format('woff2');
}

/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('/src/assets/fonts/poppins-900.woff2') format('woff2');
}