@use '../mixins/kill-bullets' as *;
@use '../mixins/font-weight' as *;
@use '../functions/rem' as *;
@use '../util/fonts' as *;
@use 'colors' as *;

// type variables
$body-font: 'Poppins', sans-serif;
$header-font: 'Poppins', sans-serif;
$eyebrow: 'Poppins', sans-serif;

.eyebrow {
  font-family: $eyebrow;
  font-size: rem(14);
  @include font-weight(medium);
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  @include font-weight(semibold);
}

ol,
ul {
  @include kill-bullets;
}

p {
  font-size: rem(16);
  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &.-dark {
    color: primary-color(white);
  }
}